<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title></title>
    
</head>
<body style="background-color: #1e0d5d; color: #bbf1fa;">
    <header class="body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-600 rounded-full" viewBox="0 0 24 24" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill:none; --darkreader-inline-stroke:currentColor;">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <a href="../index.html" style="color:#c2f0fc; font-size: 1.7em; font-weight: 700;margin-left: 1rem;">ViT question paper</a>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a href="cat.html" class="transform hover:scale-110 motion-reduce:transform-none mr-5 hover:text-purple-400">CAT</a>
            <a href="fat.html" class="transform hover:scale-110 motion-reduce:transform-none mr-5 hover:text-purple-400">FAT</a>
            <a href="boardExam.html" class="transform hover:scale-110 motion-reduce:transform-none mr-5 hover:text-purple-400"></a>
            <a href="studyMaterial.html" class="transform hover:scale-110 motion-reduce:transform-none mr-5 hover:text-purple-400"></a>
            <a href="AboutUS.html" class="transform hover:scale-110 motion-reduce:transform-none mr-5 hover:text-purple-400">About Us</a>
          </nav>
          <button class="transform hover:scale-110 motion-reduce:transform-none inline-flex items-center text-white bg-purple-500 border-0 py-1 px-3 focus:outline-none hover:bg-purple-600 rounded text-base mt-4 md:mt-0"><a href="../index.html">Home</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill:none; --darkreader-inline-stroke:currentColor;">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
   
      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <h1 style="color: #d9ecf2;" class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">FAT PAPERS</h1>
          <br>
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">DSA</span>

              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Data Structures and Algorithms</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/dsa_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">DBMS </span>
                <span style="color: #f3d1f4;" class="mt-1 text-gray-500 text-sm"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Database and Management System</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href= "../DownloadPages/FAT/dbms_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">Complex</span>
                <span style="color: #f3d1f4;" class="text-sm text-gray-500"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Complex Variables and Linear Algebra</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/complex_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-2 py-6 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">Physics</span>

              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Engineering Physics</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/phsics.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">Diffrential </span>
                <span style="color: #f3d1f4;" class="mt-1 text-gray-500 text-sm"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Differential Equations</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href= "../DownloadPages/FAT/diffrential.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">Electronics</span>
                <span style="color: #f3d1f4;" class="text-sm text-gray-500"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Basic Electronics</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/basic_electronics.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br><br>
      


      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-2 py-6 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">OOPS</span>

              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Structured Programming</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/oops.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">English </span>
                <span style="color: #f3d1f4;" class="mt-1 text-gray-500 text-sm"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2"> Technical English</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href= "../DownloadPages/FAT/english.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">OS</span>
                <span style="color: #f3d1f4;" class="text-sm text-gray-500"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Operating System</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/os_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br><br>


      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-2 py-6 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">Micro</span>

              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Microprocessors and Microcontrollers</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/micro_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">TOC </span>
                <span style="color: #f3d1f4;" class="mt-1 text-gray-500 text-sm"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2"> Theory of Computation</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href= "../DownloadPages/FAT/toc_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span style="color: #f3d1f4;" class="font-semibold title-font text-gray-700">CN</span>
                <span style="color: #f3d1f4;" class="text-sm text-gray-500"></span>
              </div>
              <div class="md:flex-grow">
                <h2 style="color: #f3d1f4;" class="text-2xl font-medium text-gray-900 title-font mb-2">Computer Networks</h2>
                <p style="color: #d9ecf2;" class="leading-relaxed"></p>
                <a href="../DownloadPages/FAT/cn_fat.html" style="color: #f3d1f4;" class="transform hover:scale-110 motion-reduce:transform-none text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br><br>

 

</body>
</html>